<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--master数据库连接字符串：name必须等于DBCS-->
    <!--<add name="DBCS" connectionString="data source=.;initial catalog=master;user id=sa;Password=1qaz2wsx"/>-->
    <add name="DBCS" connectionString="data source=192.168.0.3;initial catalog=master;user id=sa;Password=yingsheng@2014"/>
    <!--SQLite数据库配置：name必须等于SQLiteConn-->
    <add name="SQLiteConn" connectionString="Data Source=Db/ObDb.db;Pooling=true;FailIfMissing=false" />
  </connectionStrings>
  <appSettings>
    <!--是否为加密的SQLite数据库连接字符串-->
    <add key="IsEncrypt" value="0" />
    <add key="ModelNS" value="YS.Model" />
    <add key="QueryNS" value="YS.Model" />
    <add key="PermitNS" value="YS.Model"/>
    <add key="DALNS" value="YS.DAL" />
    <add key="BLLNS" value="YS.BLL" />
    <add key="SDKNS" value="YS.SDK" />
    <add key="CtrlNS" value="YS.Web.Ctrls"/>
    <add key="ViewNS" value="YS.Web.Views"/>
    <!---->
    <add key="BLLBaseCls" value="YingShengBL" />
    <add key="SDKBaseCls" value="BaseApi"/>
    <add key="CtrlBaseCls" value="YsCtrl"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>